
@{
    ViewBag.Title = "ViewAllCustomers";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Customers</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Customers</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-12">

            <!-- /.card -->

            <div class="card">
                <div class="card-header">

                    <h3 class="card-title"><button class="btn btn-primary" data-toggle="modal" data-target="#modal-default" id="btnaddnewpopup">Add New Customer</button></h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Customer Name</th>
                                <th>Customer Code</th>
                                <th>Cnic</th>
                                <th>Contact</th>
                                <th>Account No</th>
                                <th>Action</th>
                                
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>

                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<div class="modal fade" id="modal-default" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Customer</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modelbody">

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btnaddnewemptype" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- /.modal -->
<!-- ./wrapper -->
@section MyScripts{
    <script type="text/javascript">
        var dataTable;
        $(document).ready(function () {
            bindDataToTable();
        });
        //show popup
        $("#btnaddnewpopup").click(function () {
            //$.post("/Customer/AddCustomer", function (data) {
            //    $("#modal-default").html(data);
            //});

            $("#modelbody").load("/Customer/AddNewCustomer", function (e) {
                $("#modal-default").modal("show");


            });

        })





        $(function () {
            //$("#example1").DataTable();
            //$('#example2').DataTable({
            //    "paging": true,
            //    "lengthChange": false,
            //    "searching": false,
            //    "ordering": true,
            //    "info": true,
            //    "autoWidth": false,
            //});
        });


        function bindDataToTable() {
            $.ajax({
                url: "/Customer/ViewCustomers",
                success: function (data) {
                    console.log(data);
                    bindCustomersInDataTable(data);
                }
            });
        }

        function bindCustomersInDataTable(data) {
            var status = "Blocked".toString();
            var table = $('#example1').DataTable({
                data: data.data,// JSON.parse(data.data),
                columns: [
                    { data: 'customerName' },
                    { data: 'customerCode' },
                    { data: 'cnic' },
                    { data: 'contact' },//or { data: 'MONTH', title: 'Month' }`

                    { data: 'accountNo' },

                    {
                        "data": "idx",
                        "render": function (ID, type, full, meta) {

                            return '<a href="#" class="btn btn-info" onclick="ShowEmployee(' + ID + ')"><i class="fa fa-eye"></i></a> <a href="#" class="btn btn-danger" onclick="ConfirmDelete(' + ID + ')"><i class="fa fa-trash"></i></a>'

                        },
                        "orderable": true,
                        "searchable": true,


                    }
                ]
            });

        }
        function ShowEmployee(CustomerID) {

            $("#modelbody").load("/Customer/AddNewCustomer?id="+CustomerID, function (e) {
                $("#modal-default").modal("show");


            });
            //$("#modelbody").load(url, function (e) {
            //    var id = $('#Customer_Id').val();
            //    if (id > 0) {
            //        $('#btnaddnewcustomer').html("update ");
            //    }
            //    $("#modal-default").modal("show");
            //});
        }
        function ConfirmDelete(CustomerID) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, Delete!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: 'GET',
                        url: '/Customer/DeleteCustomer?id=' + CustomerID,
                        dataType: 'JSON',
                        success: function (res) {
                            if (res.success) {
                                swalWithBootstrapButtons.fire(
                                    'Done!',
                                    'Blocked',
                                    'success'
                                    )
                                window.location.href = "/Customer/ViewAllCustomers"
                            }
                            else {
                                swalWithBootstrapButtons.fire(
                                    'Error!',
                                    'Failes',
                                    'success'
                                    )
                            }
                        },
                        failure: function (res) {
                            console.log(res);
                        },
                        err: function (res) {
                            console.log(res);
                        }
                    })




                } else if (
                    /* Read more about handling dismissals below */
                  result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                      'Cancelled',
                      '',
                      'error'
                    )
                }
            })

        }




        $('#btnaddnewemptype').click(function (e) {
            e.preventDefault();
            var form = $("#formadddemptype");
            //var formdata = new FormData(form[0]);
            // var ch = false;
            // if ($('#remember').is(":checked")) {
            //     // it is checked
            //     ch = true;
            // }
            // else {
            //     ch = false;
            // }

            //console.log(ch);
            //formdata.append("RemeberMe", ch);
            //console.log(formdata);
            //    debugger;
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: "/Customer/AddUpdate",
                    data: $(form).serialize(),
                    //cache : false,
                    //processData: false,
                    success: function (res) {
                        if (res.success && res.statuscode == 200) {
                            Command: toastr["success"]("success", res.msg)

                            toastr.options = {
                                "closeButton": false,
                                "debug": false,
                                "newestOnTop": false,
                                "progressBar": true,
                                "positionClass": "toast-top-center",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "5000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            }
                            window.location.href = res.url;
                        }
                        else if (res.success == true && res.statuscode == 300) {
                                Command: toastr["error"]("Error", res.msg)

                            toastr.options = {
                                "closeButton": false,
                                "debug": false,
                                "newestOnTop": false,
                                "progressBar": true,
                                "positionClass": "toast-top-center",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "5000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            }
                        }
                    },
                    failure: function (res) {
                        console.log(res);
                    },
                    err: function (res) {
                        console.log(res);
                    }

                })
            }
            else {
                return false;
            }



        });
    </script>
}




