

@{ 
    

    <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
     <a href="/Dashboard/Dashboard" class="brand-link">
        <img src="~/dist/img/874ed823-7074-4d1f-a3ad-6a8167d1e199.jpg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Rajput Traders</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">

            <div class="info">
                <a href="#" class="d-block"></a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-circle"></i>
                        <p>
                            Master Config Module
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-user"></i>
                                <p>
                                    Users
                                    <i class="fas fa-angle-left right"></i>
                                    <span class="badge badge-info right"></span>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                            
                                <li class="nav-item">
                                    <a href="/User/SystemUsers" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>View Users</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        
                        
                        
                    </ul>
                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-circle"></i>
                        <p>
                           Products Module
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-user"></i>
                                <p>
                                    Products
                                    <i class="fas fa-angle-left right"></i>
                                    <span class="badge badge-info right"></span>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">

                                <li class="nav-item">
                                    <a href="/Product/ViewProducts" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>View Products</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Product/ViewProductType" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>View Product Type</p>
                                    </a>
                                </li>
                            </ul>
                        </li>



                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-circle"></i>
                        <p>
                            Bank Module
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-user"></i>
                                <p>
                                    Banks
                                    <i class="fas fa-angle-left right"></i>
                                    <span class="badge badge-info right"></span>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">

                                <li class="nav-item">
                                    <a href="/CompanyBank/ViewCompanyBanks" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>View Banks</p>
                                    </a>
                                </li>
                                
                            </ul>
                        </li>



                    </ul>
                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-circle"></i>
                        <p>
                            Customer Module
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-user"></i>
                                <p>
                                    Customers
                                    <i class="fas fa-angle-left right"></i>
                                    <span class="badge badge-info right"></span>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">

                                <li class="nav-item">
                                    <a href="/Customer/ViewAllCustomers" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>View Customer</p>
                                    </a>
                                </li>
                                
                            </ul>
                        </li>



                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-circle"></i>
                        <p>
                            Vendor Module
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-user"></i>
                                <p>
                                    Vendor
                                    <i class="fas fa-angle-left right"></i>
                                    <span class="badge badge-info right"></span>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">

                                <li class="nav-item">
                                    <a href="/Vendor/ViewVendors" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>View Vendor</p>
                                    </a>
                                </li>

                            </ul>
                        </li>



                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-circle"></i>
                        <p>
                            Purchase Module
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-user"></i>
                                <p>
                                    Purchase
                                    <i class="fas fa-angle-left right"></i>
                                    <span class="badge badge-info right"></span>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Purchase/ViewPurchase" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>View Purchase</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Purchase/PurchaseReturn" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Purchase Return</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-user"></i>
                                <p>
                                    Payment
                                    <i class="fas fa-angle-left right"></i>
                                    <span class="badge badge-info right"></span>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Payment/ViewPayments" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>View Payment</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </li>


                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-circle"></i>
                        <p>
                            Sale Module
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-user"></i>
                                <p>
                                    Sales
                                    <i class="fas fa-angle-left right"></i>
                                    <span class="badge badge-info right"></span>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Sale/ViewSale" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>View Sales</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Sale/SalesReturn" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Sale Return</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                    
                </li>


                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-circle"></i>
                        <p>
                            Reciept Module
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-user"></i>
                                <p>
                                    Reciept
                                    <i class="fas fa-angle-left right"></i>
                                    <span class="badge badge-info right"></span>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Receipt/ViewReceipts" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>View Receipts</p>
                                    </a>
                                </li>
                                
                                
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-circle"></i>
                        <p>
                            Report Module
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-user"></i>
                                <p>
                                    Reports
                                    <i class="fas fa-angle-left right"></i>
                                    <span class="badge badge-info right"></span>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                @*<li class="nav-item">
                                    <a href="/Reports/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Client wise reports </p>
                                    </a>
                                </li>*@
                                <li class="nav-item">
                                    <a href="/Reports/DailyReports" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Daily reports </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Reports/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Daily Purchase reports </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Reports/DailyReports" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Customer Statement reports </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Reports/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Vendor Statement reports </p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/Reports/IncomeStatementReport" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Income Statement reports </p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/Reports/BalanceSheetReport" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Balance Sheet Reports </p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>

                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-circle"></i>
                        <p>
                            Planner Module
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-user"></i>
                                <p>
                                    Planner
                                    <i class="fas fa-angle-left right"></i>
                                    <span class="badge badge-info right"></span>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Planner/ViewPlanner" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Daily Planner </p>
                                    </a>
                                </li>
                                
                                
                            </ul>
                        </li>

                    </ul>

                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-circle"></i>
                        <p>
                            GatePAss Module
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-user"></i>
                                <p>
                                    GatePAss
                                    <i class="fas fa-angle-left right"></i>
                                    <span class="badge badge-info right"></span>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/GatePAss/ViewGatePass" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Add GatePAss</p>
                                    </a>
                                </li>


                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-circle"></i>
                        <p>
                            Accounts Module
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-user"></i>
                                <p>
                                    Expense
                                    <i class="fas fa-angle-left right"></i>
                                    <span class="badge badge-info right"></span>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Finance/ExpenseVouchers" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Add Expense Vouchers</p>
                                    </a>
                                </li>


                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

   

}