@model HrProperty.Models.Report_Manager
@{
    ViewBag.Title = "Income Statement Report";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Daily Reports</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Daily Reports</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Accounts</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                   
                    <table id="REVENUE" class="table-responsive-md table table-bordered table-striped"></table>
                </div>
           
                

            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
                <!-- general form elements disabled -->
                <div class="card card-warning">
                    <div class="card-header">
                        <h3 class="card-title">Accounts</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="REVENUE" class="table-responsive-md table table-bordered table-striped"></table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- general form elements disabled -->
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Custom Elements</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="REVENUE" class="table-responsive-md table table-bordered table-striped"></table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Revenue</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="REVENUE" class="table-responsive-md table table-bordered table-striped"></table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- ./wrapper -->
@section MyScripts{
    <script type="text/javascript">
        var dataTable;
        var searchdata;
        $(document).ready(function () {

        });

        //search buttton
        $('#searchpayments').click(function (e) {
            e.preventDefault();
            var form = $("#formadddemptype");
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $("#loadergif").show();
                $.ajax({
                    type: "POST",
                    url: "/Reports/GetIncomeReport",
                    data: $(form).serialize(),
                    //cache : false,
                    //processData: false,
                    success: function (res) {
                        //binDataTable(res);
                        binDataTableFORExpense(res);
                        binDataTableRevenue(res);
                        bindDatatableIS(res);
                    },
                    failure: function (res) {
                        console.log(res);
                    },
                    err: function (res) {
                        console.log(res);
                    }

                })
            }
            else {
                return false;
            }



        });
        function binDataTableFORExpense(res) {
            //console.log(res.data)
            //if ($.fn.DataTable.isDataTable('#example2')) {
            //    $('#example2').dataTable().fnClearTable();
            //    $('#example2').dataTable().fnDestroy();
            //    $('#example2 tbody').empty();
            //}
            var data = res.SalesDis;// JSON.parse(res.data);
            var columnNames;
            //console.log(data);
            var columns = [];
            if (data.length > 0) {
                if ($.fn.DataTable.isDataTable('#EXPENSE')) {
                    $('#EXPENSE').dataTable().fnClearTable();
                    $('#EXPENSE').dataTable().fnDestroy();
                    $('#EXPENSE tbody').empty();
                }
                columnNames = Object.keys(data[0]);
            }
            else {
                alert("No Data Found");
                //$("#loadergif").hide();
                // columnNames = ["No Value Found", "No Data Found"];
            }
            console.log(columnNames[3].replace(/_/g, " "));
            for (var i in columnNames) {
                columns.push({
                    data: columnNames[i],
                    title: capitalizeFirstLetter(columnNames[i])
                });
            }
            table = $('#EXPENSE').DataTable(

                {

                    "sScrollX": "200%", //This is what made my columns increase in size.
                    "bScrollCollapse": true,
                    "sScrollY": "520px",

                    dom: 'Bfrtip',
                    buttons: [

                    {
                        extend: 'excel',
                        title: 'Query Report',
                        filename: 'Query Report'
                    }, {
                        extend: 'csv',
                        filename: 'Query Report'
                    }],

                    data: data,
                    columns: columns,
                    bSort: false,

                    fnFooterCallback: function (row, data, start, end, display) {
                        var api = this.api();
                        var footer = $(this).append('<tfoot><tr><th>Total</th></tr></tfoot>');

                        var intVal = function (i) {
                            return typeof i === 'string' ?
                                i.replace(/[\$,]/g, '') * 1 :
                                typeof i === 'number' ?
                                i : 0;
                        };

                        var total = api
                 .column(2)
                 .data()
                 .reduce(function (a, b) {
                     return intVal(a) + intVal(b);
                 }, 0);
                        console.log(total);

                        this.api().columns(0).every(function () {
                            var column = this;
                            $(footer).append('<th>Total</th>');
                        });
                        this.api().columns(2).every(function () {
                            var column = this;
                            $(footer).append('<th>' + total + '</th>');
                        });
                    }
                });
            //console.log(keys);
            $("#loadergif").hide();
        }
        function binDataTableRevenue(res) {
            //console.log(res.data)
            //if ($.fn.DataTable.isDataTable('#example2')) {
            //    $('#example2').dataTable().fnClearTable();
            //    $('#example2').dataTable().fnDestroy();
            //    $('#example2 tbody').empty();
            //}
            var data = res.RevenueData;// JSON.parse(res.data);
            var columnNames;
            //console.log(data);
            var columns = [];
            if (data.length > 0) {
                if ($.fn.DataTable.isDataTable('#REVENUE')) {
                    $('#REVENUE').dataTable().fnClearTable();
                    $('#REVENUE').dataTable().fnDestroy();
                    $('#REVENUE tbody').empty();
                }
                columnNames = Object.keys(data[0]);
            }
            else {
                alert("No Data Found");
                //$("#loadergif").hide();
                // columnNames = ["No Value Found", "No Data Found"];
            }
            console.log(columnNames[3].replace(/_/g, " "));
            for (var i in columnNames) {
                columns.push({
                    data: columnNames[i],
                    title: capitalizeFirstLetter(columnNames[i])
                });
            }
            table = $('#REVENUE').DataTable(



                {



                    "sScrollX": "200%", //This is what made my columns increase in size.
                    "bScrollCollapse": true,
                    "sScrollY": "520px",

                    dom: 'Bfrtip',
                    buttons: [

                    {
                        extend: 'excel',
                        title: 'Query Report',
                        filename: 'Query Report'
                    }, {
                        extend: 'csv',
                        filename: 'Query Report'
                    }],

                    data: data,
                    columns: columns,
                    bSort: false,


                    fnFooterCallback: function (row, data, start, end, display) {
                        var api = this.api();
                        var footer = $(this).append('<tfoot><tr><th>Total</th></tr></tfoot>');

                        var intVal = function (i) {
                            return typeof i === 'string' ?
                                i.replace(/[\$,]/g, '') * 1 :
                                typeof i === 'number' ?
                                i : 0;
                        };

                      var total = api
               .column(1)
               .data()
               .reduce(function (a, b) {
                   return intVal(a) + intVal(b);
               }, 0);
                      console.log(total);

                        this.api().columns(0).every(function () {
                            var column = this;
                            $(footer).append('<th>Total</th>');
                        });
                        this.api().columns(1).every(function () {
                            var column = this;
                            $(footer).append('<th>' + total + '</th>');
                        });
                    }
                });
            //console.log(keys);

            $("#loadergif").hide();
        }
        function bindDatatableIS(res) {
            $('#tr').text(res.TotalRv)
            $('#te').text(res.TotalEx)
            $('#trr').text(res.TotalRv - res.TotalEx)
        }

        function capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }


    </script>
}

